{% extends 'base.html' %}
{% load staticfiles %}

{% block slider %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>home.html</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static "css/listview.css" %}">


</head>
<body>
	
  <div id="main-slider" class="flexslider">
            <ul class="slides">
              {% for recipe in recipes %}
              <li>
                <img src="/media/{{recipe.image}}" alt="" />
                <div class="flex-caption">
                    <h3>Awarded Restaurant</h3>  
                </div>
              </li>

            
              {% endfor %}

            </ul>
        </div>


</body>
</html>

{% endblock slider %}