{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>recipe_detail</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static "css/recipe_detail.css" %}">

</head>
<body>
<div class="container">
 <div class="row">
  <div class="title">
   <h1>{{ recipe.name }}</h1>
  </div>
 </div>

 <div class="row">
 	<div class="ingred">
 		<h4>Ingredients:</h4>
 		  <div class="list">
			{% for ingredient in ingredients %}
			{{ ingredient }}<br/>
			{% endfor %}
		  </div>
 	</div>
 </div>

<div class="row">
 	<div class="ingred">
 		<h4>Steps:</h4>
 		  <div class="list">
			{{ recipe.steps|linebreaks }}
		  </div>
 	</div>
 </div>

<div class="row">
	<div class="image">
		<img src="/media/{{ recipe.image }}">		
	</div>
</div>

 <div class="row">
   <div class="back">
	<a class="btn btn-primary" href="/recipelist" role="button">Back</a>
   </div>
 </div>




</div>
</body>
</html>


