{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'css/home_css.css' %}">

	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Oswald" />
</head>
<body>
{# <div class="container-fluid"> #}
	 <div class="row">
      <div class="col-md-12 header">
        <a href=""><h3>MJP</h3></a>
        <a href="#contact"><span>Contact</span></a>
        <a href="#about"><span>About</span></a>
        
        <a href="#portfolio"><span>Portfolio</span></a>

      </div>
	


		
	<div id="background-slideshow">

        <img class="slides" id="home-image" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/13173833_10206324118886887_260419048845722964_n.jpg?oh=b0901a2efb91b853a05aaef5a397396a&oe=579AB237" />

        <img class="slides" id="shop-image" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/11150320_10204061409920577_5257398555652812518_n.jpg?oh=77e11f58fd6123f84f730086be263cf3&oe=57D7473E" />
        <img class="slides" id="dine-image" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/13178840_10206278083696036_2686652859891503860_n.jpg?oh=424e1cc3ad0907ae27f6b4ed25531d31&oe=57C69204" />
        <img class="slides" id="watch-image" src="https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/10885105_10203557972814964_5133863960588506173_n.jpg?oh=cc12690818ce26bbb89efa3220a74dcb&oe=57E2FF02" />
      </div>

			</div>
	</div>

	<div class="row">
    <div class="col-xs-12">
      <h1 class="title text-center">MJP</h1></div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="low text-center">Web Development & Design</h1></div>
  </div>

<div class="instagram-container">

	<div class="row photo">
		<div class="images">
			<a title="https://scontent-sjc2-1.cdninstagram.com/t51.2885-15/e15/11280337_1666659873564572_1557226481_n.jpg" href="https://www.instagram.com/p/2zjoCaDz7J/"><img id="one" src="{% static 'blog/images/sunvalley.jpg' %}" alt></a>
			
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/10684106_1553789861507413_2115754162_n.jpg" href="https://www.instagram.com/p/tA4Dyjjz57/"><img id="two" src="{% static 'blog/images/album cover.jpg' %}" alt></a>

	  		<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11324358_499885640164738_1956453944_n.jpg" href="https://www.instagram.com/p/ZavcSSjz8C/"><img id="three" src="{% static 'blog/images/castle.jpg' %}" alt></a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/10838814_702174676562452_239871311_n.jpg" href="https://www.instagram.com/p/wxGt6jDzwq/"><img id="four" src="{% static 'blog/images/einstein.jpg' %}" alt></a>

			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11373498_419154848256300_367042011_n.jpg" href="https://www.instagram.com/p/YWJZp4jz_W/"><img id="five" src="{% static 'blog/images/golfsky.jpg' %}" alt></a>

			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/10488787_466296636845913_1430990935_n.jpg" href="https://www.instagram.com/p/tElzJAjz_Y/"><img id="six" src="{% static 'blog/images/stars.jpg' %}" alt></a>

			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/10665636_763444707109260_574862850_n.jpg" href="https://www.instagram.com/p/1r4awNDz_U/"><img id="seven" src="{% static 'blog/images/hawaii.jpg' %}" alt></a>

			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11849456_937033226356493_69814409_n.jpg" href="https://www.instagram.com/p/8MB6H5jz1B/"><img id="eight" src="{% static 'blog/images/bloodmoon.jpg' %}" alt></a>

			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11374532_860812833966417_1597129732_n.jpg" href="https://www.instagram.com/p/5-D5shjz-6/"><img id="nine" src="{% static 'blog/images/elephant.jpg' %}" alt></a>

		</div>
	</div>
	<div class="row photo2">
		<div class="images">
			
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/11910368_905975589474487_326980807_n.jpg" href="https://www.instagram.com/p/6jITTpjz6R/">
	  		<img id="one" src="{% static 'blog/images/alaskabw.jpg' %}" alt>
	  		</a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11378109_572423896233326_12367249_n.jpg" href="https://www.instagram.com/p/ZwSk2Yjz3H/">
	  		<img id="two" src="{% static 'blog/images/gazebo.jpg' %}" alt>
	  		</a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11337188_1630728150472049_1840480368_n.jpg" href="https://www.instagram.com/p/Zto_bWDzxO/">
	  		<img id="three" src="{% static 'blog/images/lifeguard.jpg' %}" alt>
	  		</a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11351585_846295622119603_1626591707_n.jpg" href="https://www.instagram.com/p/cS6XnSDz2J/">
	  		<img id="four" src="{% static 'blog/images/mccall.jpg' %}" alt>
	  		</a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11335536_929889087061382_1346748659_n.jpg" href="https://www.instagram.com/p/YDyhO1Dz4G/">
	  		<img id="five" src="{% static 'blog/images/skeagle.jpg' %}" alt>
	  		</a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11378979_1566350490296937_2074824295_n.jpg" href="https://www.instagram.com/p/ZKIOrPjz65/">
	  		<img id="six" src="{% static 'blog/images/woods.jpg' %}" alt>
	  		</a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/10483445_626596667467004_1092362402_n.jpg" href="https://www.instagram.com/p/xaUwpsjz7m/">
	  		<img id="seven" src="{% static 'blog/images/yardsun.jpg' %}" alt>
	  		</a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11327965_1637882453110746_433807896_n.jpg" href="https://www.instagram.com/p/Xn9LDhDz6w/">
	  		<img id="eight" src="{% static 'blog/images/dog.jpg' %}" alt>
	  		</a>
		
			<a title="https://scontent-lax3-1.cdninstagram.com/t51.2885-15/e15/11137899_965371470148853_1915679003_n.jpg" href="https://www.instagram.com/p/1hrhaOjz-J/">
	  		<img id="nine" src="{% static 'blog/images/cliff.jpg' %}" alt>
	  		</a>

		</div>
	</div>
	

</div>





<section class="module parallax parallax-1" style="background-image: url(https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/10371915_10203277868052520_8478084501078257083_n.jpg?oh=e82bdc4e8425b2cff07e39f98404fb1a&oe=579C1543);">
    <div class="container-fluid" style='    background-color: rgba(0, 0, 0, 0.14);
    height: 800px;'>
      <h1><a name='about' style='color:white; text-decoration:none;'>About Me</a></h1>
      <p class='about'>&nbsp&nbsp&nbsp&nbspMy name is Marcus Peterson. I am 24 years old, I was born and raised in Draper, UT. I have a passion for Videography and Photography. I have been running my own freelance videography company since 2014. I was first introduced
        to coding in 2015, I immediately took a love for it and knew I wanted to learn more. Before I knew it I was enrolled in a coding school bootcamp at V School(formerly Coding Campus). In April, I completed the course and recieved a Django Web Development
        Certification. Lucky for me both my passion for video work and web development go hand in hand allowing me to maximize my creativity. I am confident in my ability to deliver new and exciting material.</p>
    </div>
  </section>

  <section class="module content" style="background-image:url(http://wall.wallrage.com/wp-content/uploads/Black-Texture-Computer-Backgrounds.jpg); height:800px;">
    <div class="container">
      <h2 id="port"><a name='portfolio' style='color:white; text-decoration:none;'>Portfolio</a></h2>
      <div class="row">
        <div class="col-xs-4 port" style='background-image:url(http://www.stlucieco.gov/Home/ShowImage?id=1527&amp;t=635744494515070000); background-size:130%;'>
          <p class='word'><a href='http://housing.marcusjpeterson.com' target="_blank" style='color:white;text-decoration:none;'> Provo Housing Database</a></p>
        </div>
        <div class="col-xs-4 port" style='background-image:url(https://upload.wikimedia.org/wikipedia/commons/2/23/Lake_mapourika_NZ.jpeg); background-size:100%;'>
          <p class='word'><a href='http://lakes.marcusjpeterson.com/home' target="_blank" style='color:white;text-decoration:none;'> Lake Levels</a></p>
        </div>
        <div class="col-xs-4 port" style='background-image:url(http://media.crossingtravel.com/files/tag/2015/11/22/image-credit-32310.jpg); background-size:100%;'>
          <p class='word'><a href='http://marcusjpeterson.com/recipelist' target="_blank" style='color:white;text-decoration:none;'>Recipe Organizer</p>
        </div>
      </div>
      <div class="row">

        <div class="col-xs-4 port" style='background-image:url(http://www.kolkeyproductions.com/Los_Angeles_Videography_Video_Production_Company/Videography_Video_Services_Images/Videographer_Camera_Operator.jpg); background-size:100%;'>
          <p class='word'>Marcus James Video</p>
        </div>
        <div class="col-xs-4 port" style='background-color:black;'>
          <p class='word'></p>
        </div>
        <div class="col-xs-4 port" style='background-color:black;'>
          <p class='word'></p>
        </div>

      </div>


    </div>
  </section>


  <section class="module parallax parallax-3" style="background-image: url(http://planthybusiness.com/wp-content/uploads/2015/12/contact-us-banner.jpg);height:250px;">
    <div class="container-fluid" style="background-color:rgba(0, 0, 0, 0.25); height:250px;">
      <h2 style='color:white;text-shadow:2px 2px 1px black;'><a name='contact' style='color:white; text-decoration:none;'>Contact Me:</a></h2>
      <ul style='list-style-type:none;'>
        <li>801-541-7109</li>
        <li>marcusjamesvideo.com</li>
      </ul>
    </div>
  </section>


  <div class="container">
    <h3 style='text-align:center; font-family:"Oswald", sans-seriff; font-size:20px;'>Designed & Created by Marcus James Peterson</h3>


  </div>


  </div>
  </div>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/home_js.js' %}"></script>
</body>

</html>

